* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	font-family: 'Outfit', sans-serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
	font-family: 'Wix Madefor Text', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0;
	padding: 0 40px 0;

}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn-dark {
	background: #000;
	border: 1px solid #000;
	color: #fff;
}

.btn-dark:hover {
	background: #fff;
	border: 2px solid #000;
	color: #000;
}

#inicio-header {
	background-image: url('/img/notebook-g342658952_1280.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
	background-color: white;
}


.inicio-cont {
	height: 100px;
}

.inicio-cont a {
	color: black;
	text-decoration: none;
	font-size: 25px;

}

.inicio-cont a:hover {
	color: rgb(247, 184, 194);
}

.inicio-cont.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.inicio-cont ul {
	display: flex;
	justify-content: space-around;


}

.nav-frente ul li:nth-child(2),
.nav-frente ul li:nth-child(3),
.nav-frente ul li:nth-child(4) {
	margin-left: 20px;

}

/* Mainnavbar */
.mainnavbar {
	background-image: linear-gradient(to right, #f0bba2, #edcaba);
}

/* Subtitle */
.subtitle {
	background: #fff;
	padding: 70px 0;
}

.subtitle h2 {
	font-size: 50px;
	font-weight: 100;
	color: #fff;
}

.subtitle span {
	font-weight: 700;
}


#nav-frente {
	padding-top: 120px;
	color: black;
}

.nav-frente h1,
.nav-frente h2 {
	font-size: 120px;
	color: #000;
}

.nav-frente h1 {
	font-weight: 300;
	margin-bottom: -20px;
}

.nav-frente h2 {
	font-weight: 800;
}

.nav-frente h2,
.nav-frente p,
.nav-frente a {
	margin-left: 120px;
}

.nav-frente p {
	padding-bottom: 15px;
	width: 50%;
}

.textos {
	justify-content: space-around;

	background-color: whitesmoke;

}

#navprod {
	font-size: larger;
	font-weight: bolder;
	text-align: justify;

}

.product {
	display: inline-block;
	flex-direction: column;
	align-items: center;
	width: 250px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
}

.product img {
	width: 150px;
	height: 150px;
	object-fit: fill;
	margin-bottom: 10px;
}

.product h2 {
	margin: 0;
	font-size: 18px;
	text-align: center;
}

.product p {
	margin: 0;
	font-size: 16px;
	text-align: center;
}

#bgproductos {
	background-image: url('/img/pocket-1609281.jpg');
	height: 100vh;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	background-color: rgb(247, 218, 156);
}

#fprod {
	background-color: rgb(247, 218, 156);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top: #000;
}
