*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    background: whitesmoke ;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Righteous', cursive;
}

img{
    width: 100%;
    height: 100%;
}

.container-1{
width: 100%;
height: 30%;
background: linear-gradient(35deg, rgba(0,0,0,.1)rgba(0,0,0,.1));
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px;
z-index: 1;
position: absolute;
}

.container-1 .logo {
    object-fit: cover;
    width: 80%;
    padding-left:30px;
    justify-content: start;
    align-items: center;
    width: 10%;
    
    
}

.container-1 .logo img{
    border-radius: 25%;
   
}

.hamburg{
    display: flex;
}

.navegacion ul{

}


.navegacion ul li a {
    display: block;
    color: black;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 25px;
    transition: 5s;
    margin: 0 10px;

}

.navegacion ul li a:hover{
   
    color: black;
    background: wheat;

}


.contenido{
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: url(../img/woman-fondg8d7bcb390_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.contenido-box{
    margin-left: 15%;
}

.contenido-box h2{
    font-size: 30px;
    font-weight: 200;
    color: orangered;
}

.contenido-box label{
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 300;
}

.contenido-box label span{
    color: orange;
}

.contenido-box a{
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    color: black;
    letter-spacing: 3px;
    font-size: 14px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    box-shadow: 4px 4px #b7b6b6 -4px -4px 10px #fff;
}

.contenido-box a:hover{
    box-shadow: -4px -4px #b7b6b6 4px 4px 10px #fff;

}

.contenedor{
 margin-top: 30px;
  display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap:30px;
        grid-row-gap: 30px;
        width: 60%;
        transition: .3s;
    }

    .contenedor h2{
    font-size: 30px;
    font-weight: 200;
    color: orangered;
    align-items: center;
    justify-content: center;
    }
    .contenedor .contenedor-producto .producto{
        max-width: 200px;
        margin: auto;
        border: 1px solid orangered;
        border-radius: 10px;
        padding: 20px;
        transition: .3s;
    }
    .contenedor .contenedor-producto .producto .img{
        width: 100%;
    }
    .contenedor .contenedor-producto.producto.producto:hover{
        box-shadow: 0 0 10px  yellow;
        scale: 1.05;
    }
    .contenedor .contenedor-producto .producto .titulo-producto{
        display: block;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .contenedor .contenedor-producto .producto .precio{
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }
    
    .contenedor .contenedor-producto .producto .boton-producto{
        display: block;
        margin: 10px auto;
        border: none;
        background-color:  orangered;
        color: whitesmoke;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

 