* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	font-family: 'Outfit', sans-serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
	font-family: 'Wix Madefor Text', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0;
	padding: 0 40px 0;

}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn-dark {
	background: #000;
	border: 1px solid #000;
	color: #fff;
}

.btn-dark:hover {
	background: #fff;
	border: 2px solid #000;
	color: #000;
}

#inicio-header {
	background-image: url('/img/notebook-g342658952_1280.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
	background-color: white;
}


.inicio-cont {
	height: 100px;
}

.inicio-cont a {
	color: black;
	text-decoration: none;
	font-size: 25px;
	font-family: 'outfit', sans-serif;


}

.inicio-cont a:hover {
	color: rgb(247, 184, 194);
}

.inicio-cont.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.inicio-cont ul {
	display: flex;
	justify-content: space-around;


}

.nav-frente ul li:nth-child(2),
.nav-frente ul li:nth-child(3),
.nav-frente ul li:nth-child(4) {
	margin-left: 20px;

}


.mainnavbar {
	background-image: linear-gradient(to right, #f0bba2, #edcaba);
}


.subtitle {
	background: #fff;
	padding: 70px 0;
}

.subtitle h2 {
	font-size: 50px;
	font-weight: 100;
	color: #fff;
}

.subtitle span {
	font-weight: 700;
}


#nav-frente {
	padding-top: 120px;
	color: black;
}

.nav-frente h1,
.nav-frente h2 {
	font-size: 120px;
	color: #000;
}

.nav-frente h1 {
	font-weight: 300;
	margin-bottom: -20px;
}

.nav-frente h2 {
	font-weight: 800;
}

.nav-frente h2,
.nav-frente p,
.nav-frente a {
	margin-left: 120px;
}

.nav-frente p {
	padding-bottom: 15px;
	width: 50%;
}

.textos {
	justify-content: space-around;

	background-color: whitesmoke;

}

.product {
	display:contents;
	flex-direction:column;
	align-items:center;
	width: 250px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
}

.product img {
	width: 150px;
	height: 150px;
	object-fit: fill;
	margin-bottom: 10px;
}

.product h2 {
	margin: 0;
	font-size: 18px;
	text-align: center;
}

.product p {
	margin: 0;
	font-size: 16px;
	text-align: center;
}

#bgproductos {
	background-image: url('/img/woman_1.jpg');
	height: 100vh;
	position:absolute;
	background-attachment: fixed;
  	overflow: scroll;
	background-repeat: no-repeat;
	background-size:contain;
	background-position:right;
	background-color: white;
}

#fprod {
	background-color:rgba(245, 245, 245, 0.541);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top: #000;
}

/* carrito*/
#product-list, #cart {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
  }

#cart {
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
  }
  
  #cart-items {
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
  }
  
  #cart-total {
	font-weight: bold;
  }
  
  #checkout-button {
	width: 100%;
	padding: 10px;
	cursor: pointer;
	background: #000;
	border: 1px solid #000;
	color: #fff;


  }



/*Estilos Lis*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

/* ---- GENERALES ---- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body2 {
  margin: 0;
  font-size: 16px;
  background: var(--cblanco);
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

.container2 {
  /* border: 3px solid red; */
  max-width: 90%;
  margin: 0px;
  margin-top: 20px;
}

:root {
  --cfondo: rgb(207, 211, 212);
  --cfondoForm1: rgba(244, 247, 247, 0.936);
  --cfondoForm2: rgb(249, 250, 250);
  --cgris: gray;
  --cnegro: rgb(0,0,0);
  --ctexto: rgb(81, 83, 83);
  --ctextoDark: rgb(1, 35, 39);
  --cblanco: white;
  --error: rgb(184, 31, 31);
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + label::before {
  background: var(--cnegro);
  transition: 0.5s;
  transform: rotate(180deg);
}

[type="checkbox"]:checked + label {
  color: var(--cnegro);
}

/* ---- FORMULARIO ---- */

.form {
  /* border: 3px solid green; */
  /* border-top: 2px solid var(--cgris); */
  max-width: 500px;
  padding: 20px 50px;
  margin: 0.5px;
  margin-top: 5px;
  background: linear-gradient(
    0deg,
    var(--cfondoForm1) 0%,
    var(--cfondoForm2) 50%
  );
}

.form-titulo {
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.form-input {
  margin-bottom: 10px;
}

.form-input label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: var(--ctexto);
}

.form-input input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--ctexto);
}

.form-input input:focus + label {
  font-weight: bold;
  color: var(--cnegro);
}

.form-confirmaEnvio {
  margin-left: 15px;
  position: relative;
  color: var(--ctexto);
  font-size: 10px;
}

.form-confirmaEnvio label::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid var(--cnegro);
  position: absolute;
  left: -14px;
}

.form-boton input {
  background: var(--cgris);
  color: var(--cblanco);
  padding: 10px 50px;
  font-size: 25px;
  display: block;
  margin: auto;
  margin-top: 20px;
  border: none;
}

.form-boton input:hover {
  background: var(--ctextoDark);
  transition: 0.5s;
}

.mensajeError {
  color: var(--error);
  margin-top: 0px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.mensajeCorrecto {
  text-align: center;
  font-weight: bold;
}

.form-parrafo {
  font-weight: lighter;
  font-size: 14px;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.form-input--mensaje {
/* border: 3px solid red; */
resize: none;
width: 100%;
padding: 10px 10px;
border: none;
outline: none;

}

/* ---- HEADER ---- */
#inicio-header2 {
  background-image: url('/img/tienda.webp');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-color:none;
  margin: 10px;
  margin-top: 20px; 
}

.horarios {
font-weight: lighter;
font-size: 14px;
text-align: left;
margin: 20px;
margin-bottom: 20px;
letter-spacing: 1px;
}

.mapas {
font-weight: lighter;
font-size: 14px;
text-align: left;
margin: 20px;
margin-bottom: 20px;
letter-spacing: 1px;
}

.container-iframe {
/* border: 3px solid red; */
max-width: 90%;
margin: auto;
margin-top: 0px;
background:var(--cfondo);
background: linear-gradient(
  0deg,
  var(--cfondoForm1) 0%,
  var(--cfondoForm2) 50%
);
}



